.title {
    /* color: light-dark(var(--mantine-color-black), var(--mantine-color-white)); */
    color: light-dark(var(--mantine-color-myColor-6), var(--mantine-color-myColor-4));
    font-size: rem(60px);
    font-weight: 700;
    letter-spacing: rem(-2px);
}

.subtitle {
    color: light-dark(var(--mantine-color-myColor-6), var(--mantine-color-myColor-4));
    font-size: rem(40px);
    font-weight: 600;
    letter-spacing: rem(-2px);
}

.subsubtitle {
    color: light-dark(var(--mantine-color-myColor-6), var(--mantine-color-myColor-4));
    font-size: rem(30px);
    font-weight: 500;
    letter-spacing: rem(-2px);
}

.anchor {
    color: light-dark(var(--mantine-color-myColor-6), var(--mantine-color-myColor-));
}

.blockquote {
    color: light-dark(var(--mantine-color-myColor-1), var(--mantine-color-myColor-4));
}